---
import {Image} from 'astro:assets'
const {title, position, followers, href, src} = Astro.props;
---
<div class="team-member flex flex-col max-w-72  ">
    <div class="rounded-md overflow-hidden">
        <div class="flex-1">
            <Image src={src} class="flex-shrink-0 min-w-full min-h-full" alt=''/>
        </div>
        <div class="team-content flex flex-col justify-center items-center  w-full p-4 pb-8 bg-[#000000] ">
            <h3 class="lg:text-xl md:text-lg text-[14px] pt-1">{title}</h3>
            <p class="lg:text-lg md:text-[14px] text-xs ">{position}</p>
            <p class="lg:text-lg md:text-[14px] text-xs"> {followers} followers</p>
            <a class="underline underline-offset-2 lg:text-xl  text-md" href={href} target="_blank">Linkdin</a>
        </div>
    </div>

</div>