---
const {title, position,followers,href,src} = Astro.props;
---
<div class="team-member p-5">
    <img src={src} alt=""></img>
    <div class="team-content rounded-b-xl pb-8 bg-[#000000]">
        <h3 class="text-xl pt-4">{title}</h3>
        <p>{position}</p>
        <p> {followers} followers</p>
        <a class="underline underline-offset-2 text-xl" href={href} target="_blank">Linkdin</a>
    </div>
</div>