---
import {Image} from 'astro:assets'
const {title, position, followers, href, src} = Astro.props;
---
<div class="team-member flex flex-col ">
    <div class="lg:rounded-xl rounded-md overflow-hidden">
        <div class="flex-1">
            <Image src={src} class="flex-shrink-0 min-w-full min-h-full" alt=''/>
        </div>
        <div class="team-content flex flex-col justify-center items-center  w-full p-4 pb-8 bg-[#000000] ">
            <h3 class="md:text-xl text-md pt-4">{title}</h3>
            <p class="md:text-lg text-xs ">{position}</p>
            <p class="md:text-lg text-xs"> {followers} followers</p>
            <a class="underline underline-offset-2 lg:text-xl text-md" href={href} target="_blank">Linkdin</a>
        </div>
    </div>

</div>