---
const {title, position,followers,href,src} = Astro.props;
---
<div class="team-member flex flex-col sm:p-14 p-2">
    <div class="flex-1"><img src={src} alt=""></img></div>
    <div class="team-content flex flex-col justify-center items-center  w-full sm:rounded-b-xl rounded-b-md pb-8 bg-[#000000] ">
        <h3 class="sm:text-xl text-lg pt-4">{title}</h3>
        <p>{position}</p>
        <p> {followers} followers</p>
        <a class="underline underline-offset-2 sm:text-xl text-lg" href={href} target="_blank">Linkdin</a>
    </div>
</div>