---
import reviewCardSvg from '../assets/img/reviewCard.png';
import {Image} from "astro:assets";

const {name, last_name, stars, text} = Astro.props
---
<div class="wrapper flex justify-center">
    <div class="review-container relative inline-block min-w-[350px]">
        <div class="flex justify-center items-center">
            <Image src={reviewCardSvg} alt='' />
        </div>
        <div class="review-content absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-10/12 flex flex-col gap-[1vh] md:text-md">
            <h3 class="text-white text-center text-xl lg:text-2xl">{name} {last_name}</h3>

            <div class="flex justify-center mb-4 gap-4">
                {Array.from({ length: stars }).map((_, index) => (
                        <svg width="20" height="20" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.36263 0.821777L10.251 6.63362L16.3619 6.63362L11.4181 10.2255L13.3065 16.0374L8.36263 12.4455L3.41879 16.0374L5.30717 10.2255L0.363323 6.63362L6.47425 6.63362L8.36263 0.821777Z" fill="#FFF84E"/>
                        </svg>
                ))}
            </div>

            <div class="review-feedback">
                <div class="opinion text-center px-4">
                    <p>{text}</p>
                </div>
            </div>
        </div>
    </div>
</div>
