---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'

interface Props {
    title: string;
    description?: string;
    image?: string;
    canonicalURL?: string;
    type?: 'website' | 'article';
}

const {
    title,
    description = `LEADIN transforms professionals into recognized industry leaders through strategic personal branding, digital positioning, and authentic storytelling. Elevate your professional identity today.`,
    image = "/logos/navLogo.svg",
    canonicalURL = Astro.url.href,
    type = "website",
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ">

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title}>
    <meta name="description" content={description}>

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type}>
    <meta property="og:url" content={Astro.url.href}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={new URL(image, Astro.url.origin).href}>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={Astro.url.href}>
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={description}>
    <meta property="twitter:image" content={new URL(image, Astro.url.origin).href}>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon-180.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16.svg">
    <link rel="manifest" href="/site.webmanifest">
    <!--<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">-->
    <meta name="msapplication-TileColor" content="#151515">
    <meta name="theme-color" content="#151515">

    <!-- Google Fonts (if using Raleway) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

</head>
<body>
<Navbar/>
<main class="min-h-screen">
    <slot/>
</main>
<Footer/>
</body>
</html>
<style is:global>
    main, nav {
        color: #fff;
    }

    body {
        font-family: 'Raleway', sans-serif;
        background: #151515;
    }
</style>